.color-card {
  margin: 0px 10px;
  padding: 5px;
}

.color-card-highlight {
  display: inline;
  padding: 2px 6px;
  background: black;
  color: white;
}

.contrast-yup {
  background-color: green;
}

.contrast-kinda {
  background-color: orange;
}

.contrast-nope {
  background-color: red;
}
